{% extends 'sidebar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block body %}
    <center>
    <h1 style="background-color: powderblue; padding-top: 28px; padding-bottom: 28px;">About Us</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nobis corrupti quibusdam laudantium alias voluptas commodi, aliquam dolore blanditiis repellat magnam voluptatum! Libero ipsum suscipit incidunt reiciendis aspernatur porro!</p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nobis corrupti quibusdam laudantium alias voluptas commodi, aliquam dolore blanditiis repellat magnam voluptatum! Libero ipsum suscipit incidunt reiciendis aspernatur porro!</p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nobis corrupti quibusdam laudantium alias voluptas commodi, aliquam dolore blanditiis repellat magnam voluptatum! Libero ipsum suscipit incidunt reiciendis aspernatur porro!</p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nobis corrupti quibusdam laudantium alias voluptas commodi, aliquam dolore blanditiis repellat magnam voluptatum! Libero ipsum suscipit incidunt reiciendis aspernatur porro!</p>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nobis corrupti quibusdam laudantium alias voluptas commodi, aliquam dolore blanditiis repellat magnam voluptatum! Libero ipsum suscipit incidunt reiciendis aspernatur porro!</p>
    {% endblock %}
    </center>
</body>
</html>
